{% extends 'admin/base.html'%}
{% block title %}
    <title>订单列表</title>
{% endblock title %}
{% block body %}

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">订单列表</h2>

      </div>
      <section class="mtb">
   <a href="{% url 'app:order_list' %}" style="font-size: larger">全部</a><span > &nbsp|</span>
        <a href="{% url 'app:order_list' %}?is_payment=1" style="font-size: larger">待付款</a><span > &nbsp|&nbsp</span>
    <a href="{% url 'app:order_list' %}?is_status=0" style="font-size: larger">待发货</a><span > &nbsp|&nbsp</span>
     <a href="{% url 'app:order_list' %}?is_status=1" style="font-size: larger">待收货</a><span > &nbsp|&nbsp</span>
        <a href="{% url 'app:order_list' %}?is_take=1" style="font-size: larger">已收货</a><span >



      </section>
      <table class="table">
       <tr>
        <th>订单编号</th>
        <th>收件人</th>
        <th>联系电话</th>
        <th>收件人地址</th>
        <th>订单状态</th>
        <th>配送方式</th>
        <th>操作</th>
       </tr>
        {% for data in datas %}
       <tr>
        <td class="center">{{ data.ordernumber }}</td>
        <td>{{ data.shouname }}</td>
        <td>{{ data.shouphone }}</td>
        <td>
         <address>{{ data.order_address }}</address>
        </td>
        <td class="center"><strong>{% if data.is_payment == 0 %}待付款{% elif data.is_payment == 1 and data.is_status == 0 %}待发货{% elif data.is_payment == 1 and data.is_status == 1 and data.is_take == 0 %}待收货{% else %}已收货{% endif %}</strong></td>
        <td class="center">圆通快递</td>
        <td class="center">
         <a href="{% url 'app:order_detail' data.id %}" title="查看订单" class="link_icon" >&#118;</a>

        </td>
       </tr>
          {% endfor %}
      </table>

 </div>
</section>
{#</body>#}
{#</html>#}
{% endblock %}