{% extends 'front/index.html' %}
{% block body %}
    <!-- 内页导航栏 -->
    {% block top %}
        <div class="top-search">
            <div class="inner">
                <a class="logo" href="{% url 'front:index' %}"><img src="/static/images/icons/logo.jpg" alt="U袋网"
                                                                    class="cover"></a>
                <div class="search-box">
                    <form class="input-group">
                        <input placeholder="Ta们都在搜U袋网" type="text">
                        <span class="input-group-btn">
						<button type="button">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</span>
                    </form>
                </div>
                {% if user.is_authenticated %}
                    <div class="cart-box">
                        <a href="{% url 'front:shopcat' %}" class="cart-but">
                            <i class="iconfont icon-shopcart cr fz16"></i> 购物车 {{ user.shopcat_set.all|length }} 件
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- 首页导航栏 -->
        <div class="top-nav bg3">
            <div class="nav-box inner">
                <div class="all-cat">
                    <div class="title"><i class="iconfont icon-menu"></i> 全部分类</div>
                </div>
                <ul class="nva-list">
                    <a href="{% url 'front:index' %}">
                        <li class="active" style="color: white;">首页</li>
                    </a>
                    {% for big in catory %}
                        <a href="{% url 'front:clothlist' %}?bcategory={{ big.sname }}&scategory=全部">
                            <li class="active" style="color: white">{{ big.sname }}</li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endblock %}
    {% block foot %}
    <div class="content inner">
        <section class="filter-section clearfix">
            <ol class="breadcrumb">
                <li><a href="index.html">首页</a></li>
                <li class="active">商品筛选</li>
            </ol>
            <div class="filter-box">
                <div class="all-filter">

                </div>
                <div class="filter-prop-item">
                    <span class="filter-prop-title">分类：</span>
                    <ul class="clearfix">
                        <a>
                            <li>{{ big.sname }}</li>
                        </a>
                        <a>
                            <li>{% if smas.sname %}{{ smas.sname }}{% endif %}</li>
                        </a>
                    </ul>
                </div>
                <div class="filter-prop-item">
                    <span class="filter-prop-title">类型：</span>
                    <ul class="clearfix">
                        <a href="{% url 'front:clothlist' %}?bcategory={{ big.sname }}&scategory=全部">
                            <li class="active">全部</li>
                        </a>
                        {% for sma in small %}
                            <a href="{% url 'front:clothlist' %}?bcategory={{ big.sname }}&scategory={{ sma.sname }}">
                                <li>{{ sma.sname }}</li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
                <div class="filter-prop-item">
                    <span class="filter-prop-title">尺寸：</span>
                    <ul class="clearfix">
                        <a href="">
                            <li class="active">全部</li>
                        </a>
                    </ul>
                </div>
                <div class="filter-prop-item">
                    <span class="filter-prop-title">价格：</span>
                    <ul class="clearfix">
                        <a href="">
                            <li class="active">全部</li>
                        </a>
                        <a href="">
                            <li>0-20</li>
                        </a>
                        <a href="">
                            <li>20-40</li>
                        </a>
                        <a href="">
                            <li>40-80</li>
                        </a>
                        <a href="">
                            <li>80-100</li>
                        </a>
                        <a href="">
                            <li>100-150</li>
                        </a>
                        <a href="">
                            <li>150以上</li>
                        </a>
                    </ul>
                </div>
            </div>

        </section>
        <section class="item-show__div clearfix">
            <div class="pull-left">
                <div class="item-list__area clearfix">
                    {% for clo in cloth %}
                        <div class="item-card">
                            <a href="{% url 'front:clodetail' clo.cid %}" class="photo">
                                <img src="{{ clo.clothingdetail.preview1 }}" alt="锦瑟 原创传统日常汉服男绣花交领衣裳cp情侣装春夏款" class="cover">
                                <div class="name">{{ clo.cname }}</div>
                            </a>
                            <div class="middle">
                                <div class="price">
                                    <small>￥</small>
                                    {{ clo.price }}</div>
                                {% if user.is_authenticated %}
                                    <form method="post">
                                        <button class="sale" value="{{ clo.cid }}" name="cid">加入购物车</button>
                                        {% csrf_token %}
                                    </form>
                                    <script>
                                        $("[type='button']").click(function () {
                                            var data = button.getData();
                                            $.post('/clothlist/?bcategory={{ big.sname }}&scategory={{ clo.sid.sname }}', data, function (params) {
                                                    window.location.href = 'http://10.0.104.73:8000/clothlist/?{{ big.sname }}&scategory={{ requ }}'
                                                })
                                        })
                                    </script>
                                {% endif %}
                            </div>
                            <div class="buttom">
                                <div>销量 <b>{{ clo.order_set.all |length }}</b></div>
                                <div>货存 <b>{{ clo.number }}</b></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- 分页 -->
                <div class="page text-right clearfix">
                    <a class="disabled">上一页</a>
                    <a class="select">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                    <a href="">4</a>
                    <a href="">5</a>
                    <a class="" href="">下一页</a>
                    <a class="disabled">1/5页</a>
                    <form action="" class="page-order">
                        到第
                        <input type="text" name="page">
                        页
                        <input class="sub" type="submit" value="确定">
                    </form>
                </div>
            </div>
            <div class="pull-right">

                <div class="desc-segments__content">
                    <div class="lace-title">
                        <span class="c6">爆款推荐</span>
                    </div>
                    <div class="picked-box">
                        <a href="" class="picked-item"><img src="images/temp/S-001.jpg" alt="" class="cover"><span
                                class="look_price">¥134.99</span></a>
                        <a href="" class="picked-item"><img src="images/temp/S-002.jpg" alt="" class="cover"><span
                                class="look_price">¥134.99</span></a>
                        <a href="" class="picked-item"><img src="images/temp/S-003.jpg" alt="" class="cover"><span
                                class="look_price">¥134.99</span></a>
                        <a href="" class="picked-item"><img src="images/temp/S-004.jpg" alt="" class="cover"><span
                                class="look_price">¥134.99</span></a>
                        <a href="" class="picked-item"><img src="images/temp/S-005.jpg" alt="" class="cover"><span
                                class="look_price">¥134.99</span></a>
                        <a href="" class="picked-item"><img src="images/temp/S-006.jpg" alt="" class="cover"><span
                                class="look_price">¥134.99</span></a>
                        <a href="" class="picked-item"><img src="images/temp/S-007.jpg" alt="" class="cover"><span
                                class="look_price">¥134.99</span></a>
                        <a href="" class="picked-item"><img src="images/temp/S-008.jpg" alt="" class="cover"><span
                                class="look_price">¥134.99</span></a>
                        <a href="" class="picked-item"><img src="images/temp/S-009.jpg" alt="" class="cover"><span
                                class="look_price">¥134.99</span></a>
                        <a href="" class="picked-item"><img src="images/temp/S-010.jpg" alt="" class="cover"><span
                                class="look_price">¥134.99</span></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        $("[type='button']").click(function () {
            data = $('form').serialize();
            $.post('/app/user/register/', data, function (params) {
                if (params.code == 1) {
                    window.location.href = 'http://127.0.0.1:8000/static/html/index.html'
                }

            })

        })
    </script>
    {% endblock %}
{% endblock %}