{% extends 'front/item_category.html' %}
{% block foot %}
	<div class="content inner">
		<section class="item-show__div item-show__head clearfix">
			<div class="pull-left">
				<ol class="breadcrumb">
					<li><a href="index.html">首页</a></li>
					<li><a href="item_sale_page.html">爆款推荐</a></li>
					<li class="active">原创设计日常汉服女款绣花长褙子吊带改良宋裤春夏</li>
				</ol>
				<div class="item-pic__box" id="magnifier">
					<div class="small-box">
						<img class="cover" src="{{ cloth.clothingdetail.preview1 }}" alt="重回汉唐 旧忆 原创设计日常汉服女款绣花长褙子吊带改良宋裤春夏">
						<span class="hover"></span>
					</div>
					<div class="thumbnail-box">
						<a href="javascript:;" class="btn btn-default btn-prev"></a>
						<div class="thumb-list">
							<ul class="wrapper clearfix">
								<li class="item active" data-src="{{ cloth.clothingdetail.preview1 }}"><img class="cover" src="{{ cloth.clothingdetail.preview1 }}" alt="商品预览图"></li>
								<li class="item" data-src="{{ cloth.clothingdetail.preview2 }}"><img class="cover" src="{{ cloth.clothingdetail.preview2 }}" alt="商品预览图"></li>
								<li class="item" data-src="{{ cloth.clothingdetail.preview3 }}"><img class="cover" src="{{ cloth.clothingdetail.preview3 }}" alt="商品预览图"></li>
								<li class="item" data-src="{{ cloth.clothingdetail.preview4 }}"><img class="cover" src="{{ cloth.clothingdetail.preview4 }}" alt="商品预览图"></li>
								<li class="item" data-src="{{ cloth.clothingdetail.preview5 }}"><img class="cover" src="{{ cloth.clothingdetail.preview5 }}" alt="商品预览图"></li>
							</ul>
						</div>
						<a href="javascript:;" class="btn btn-default btn-next"></a>
					</div>
					<div class="big-box"><img src="{{ cloth.clothingdetail.preview1 }}" alt="重回汉唐 旧忆 原创设计日常汉服女款绣花长褙子吊带改良宋裤春夏"></div>
				</div>
				<script src="/static/js/jquery.magnifier.js"></script>
				<script>
					$(function () {
						$('#magnifier').magnifier();
					});
				</script>
				<div class="item-info__box">
					<div class="item-title">
						<div class="name ep2">原创设计日常汉服女款绣花长褙子吊带改良宋裤春夏</div>
						<div class="sale cr">优惠活动：该商品享受8折优惠</div>
					</div>
					<div class="item-price bgf5">
						<div class="price-box clearfix">
							<div class="price-panel pull-left">
								售价：<span class="price">￥{{ cloth.price }} <s class="fz16 c9">￥{{ cloth.price|add:30 }}</s></span>
							</div>
						</div>
					</div>
					<ul class="item-ind-panel clearfix">
						<li class="item-ind-item">
							<span class="ind-label c9">累计销量</span>
							<span class="ind-count cr">{{ cloth.order_set.all|length }}</span>
						</li>
						<li class="item-ind-item">
							<a href=""><span class="ind-label c9">赠送积分</span>
							<span class="ind-count cg">666</span></a>
						</li>
					</ul>
					<div class="item-key">
						<div class="item-sku">
							<dl class="item-prop clearfix">
								<dt class="item-metatit">颜色：</dt>
								<dd><ul data-property="颜色" class="clearfix">
                                    {% for col in color %}
									<li><a class="on" href="javascript:;" role="button" data-value="白色" aria-disabled="true">
										<span>{{ col }}</span>
									</a></li>
                                    {% endfor %}

								</ul></dd>
							</dl>
							<dl class="item-prop clearfix">
								<dt class="item-metatit">尺码：</dt>
								<dd><ul data-property="尺码" class="clearfix">
                                    {% for si in size %}
									<li><a href="javascript:;" role="button" data-value="S" aria-disabled="true">
										<span>{{ si }}</span>
									</a></li>
									{% endfor %}
								</ul></dd>
							</dl>
						</div>
						<div class="item-amount clearfix bgf5">
							<div class="item-metatit">数量：</div>
							<div class="amount-box">
								<div class="amount-widget">
									<input class="amount-input" value="1" maxlength="8" title="请输入购买量" type="text">
									<div class="amount-btn">
										<a class="amount-but add"></a>
										<a class="amount-but sub"></a>
									</div>
								</div>
								<div class="item-stock"><span style="margin-left: 10px;">库存 <b id="Stock">1000</b> 件</span></div>
								<script>
									$(function () {
										$('.amount-input').onlyReg({reg: /[^0-9]/g});
										var stock = parseInt($('#Stock').html());
										$('.amount-widget').on('click','.amount-but',function() {
											var num = parseInt($('.amount-input').val());
											if (!num) num = 0;
											if ($(this).hasClass('add')) {
												if (num > stock - 1){
													return DJMask.open({
													　　width:"300px",
													　　height:"100px",
													　　content:"您输入的数量超过库存上限"
												　　});
												}
												$('.amount-input').val(num + 1);
											} else if ($(this).hasClass('sub')) {
												if (num == 1){
													return DJMask.open({
													　　width:"300px",
													　　height:"100px",
													　　content:"您输入的数量有误"
												　　});
												}
												$('.amount-input').val(num - 1);
											}
										});
									});
								</script>
							</div>
						</div>
						<div class="item-action clearfix bgf5">
							<a href="javascript:;" rel="nofollow" data-addfastbuy="true" title="点击此按钮，到下一步确认购买信息。" role="button" class="item-action__buy">立即购买</a>
							<a href="javascript:;" rel="nofollow" data-addfastbuy="true" role="button" class="item-action__basket">
								<i class="iconfont icon-shopcart"></i> 加入购物车
							</a>
						</div>
					</div>
				</div>
			</div>
			{% block dazhe %}
            {% endblock %}
		</section>
		<section class="item-show__div item-show__body posr clearfix">
			<div class="item-nav-tabs">
				<ul class="nav-tabs nav-pills clearfix" role="tablist" id="item-tabs">
					<li role="presentation" class="active"><a href="#detail" role="tab" data-toggle="tab" aria-controls="detail" aria-expanded="true">商品详情</a></li>
				</ul>
			</div>
			<div class="pull-left">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="detail" aria-labelledby="detail-tab">
						<div class="item-detail__info clearfix">
							<div class="record">商品编号：{{ cloth.productID }}</div>
							<div class="record">上架时间：{{ cloth.data }}</div>
							<div class="record">商品库存：{{ cloth.number }}</div>
						</div>
						<div class="rich-text">
							<p style="text-align: center;">
								<i id="desc-module-1" style="font-size: 0"></i>

								<img src="{{ cloth.clothingdetail.drawing }}" alt=""><br><img src="{{ cloth.clothingdetail.detailed }}" alt=""><br>

								<i id="desc-module-2" style="font-size: 0"></i><img src="{{ cloth.clothingdetail.modeled }}" alt=""><br><img src="{{ cloth.clothingdetail.problem }}" alt=""><br>
                                <i id="desc-module-3" style="font-size: 0"></i><img src="/static/images/temp/S-001_37.jpg" alt=""><br><img src="/static/images/temp/S-001_38.jpg" alt=""><br>
								

							</p>
						</div>
					</div>
			    </div>

			</div>
			<div class="pull-right">
				<div class="tab-content" id="descCate">
					<div role="tabpanel" class="tab-pane fade in active" id="detail-tab" aria-labelledby="detail-tab">
						<div class="descCate-content bgf5">
							<dd class="dc-idsItem selected">
								<a href="#desc-module-1"><i class="iconfont icon-dot"></i> 产品图</a>
							</dd>
							<dd class="dc-idsItem">
								<a href="#desc-module-2"><i class="iconfont icon-selected"></i> 细节图</a>
							</dd>
							<dd class="dc-idsItem">
								<a href="#desc-module-3"><i class="iconfont"></i> 常见问题</a>
							</dd>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="evaluate-tab" aria-labelledby="evaluate-tab">
						<div class="descCate-content posr bgf5">
							<div class="lace-title">
								<span class="c6">相关推荐</span>
							</div>
							<div class="picked-box">
								<a class="picked-item" href="">
									<img src="images/temp/S-001-1_s.jpg" class="cover">
									<div class="look_price">¥134.99</div>
								</a>
								<a class="picked-item" href="">
									<img src="images/temp/S-001-2_s.jpg" class="cover">
									<div class="look_price">¥134.99</div>
								</a>
								<a class="picked-item" href="">
									<img src="images/temp/S-001-3_s.jpg" class="cover">
									<div class="look_price">¥134.99</div>
								</a>
								<a class="picked-item" href="">
									<img src="images/temp/S-001-4_s.jpg" class="cover">
									<div class="look_price">¥134.99</div>
								</a>
								<a class="picked-item" href="">
									<img src="images/temp/S-001-5_s.jpg" class="cover">
									<div class="look_price">¥134.99</div>
								</a>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="service-tab" aria-labelledby="service-tab">
						<div class="descCate-content posr bgf5">
							<div class="lace-title">
								<span class="c6">最近浏览</span>
							</div>
							<div class="picked-box">
								<a class="picked-item" href="">
									<img src="images/temp/S-001-1_s.jpg" class="cover">
									<div class="look_price">¥134.99</div>
								</a>
								<a class="picked-item" href="">
									<img src="images/temp/S-001-2_s.jpg" class="cover">
									<div class="look_price">¥134.99</div>
								</a>
								<a class="picked-item" href="">
									<img src="images/temp/S-001-3_s.jpg" class="cover">
									<div class="look_price">¥134.99</div>
								</a>
								<a class="picked-item" href="">
									<img src="images/temp/S-001-4_s.jpg" class="cover">
									<div class="look_price">¥134.99</div>
								</a>
								<a class="picked-item" href="">
									<img src="images/temp/S-001-5_s.jpg" class="cover">
									<div class="look_price">¥134.99</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script>
				$(document).ready(function(){
					$('#descCate').smartFloat(0);
					$('.dc-idsItem').click(function() {
						$(this).addClass('selected').siblings().removeClass('selected');
					});
					$('#item-tabs a[data-toggle="tab"]').on('show.bs.tab', function (e) {
						$('#descCate #' + $(e.target).attr('aria-controls') + '-tab')
						.addClass('in').addClass('active').siblings()
						.removeClass('in').removeClass('active');
					});
				});
			</script>
		</section>
	</div>
	<!-- 右侧菜单 -->
{% endblock %}