{% extends 'front/udai_order.html' %}
{% block right %}
			<div class="pull-right">
				<div class="user-content__box clearfix bgf">
					<div class="title">订单中心-申请退款/退货</div>
					<div class="order-info__box">
						<hr>
						<div class="return-item__info">
							<div class="img"><img src="{{ orders.cid.clothingdetail.preview1 }}" alt="" class="cover"></div>
							<div class="name ep2">{{ orders.cid.cname }}</div>
							<div class="type">颜色分类：{{ orders.cid.color }} 尺码：{{ orders.cid.size }}</div>
							<div class="num">订单编号：{{ orders.ordernumber }}</div>
						</div>
                        <hr>
						<form action="{% url 'front:ordertui' orders.id %}" class="user-addr__form form-horizontal" role="form" method="post">
							{% csrf_token %}
                            <div class="form-group">
								<label class="col-sm-2 control-label">服务类型：</label>
								<div class="col-sm-6">
									<div class="user-form-group return_val c6">
										<label><input name="money" value="0" type="radio" checked=""><i class="iconfont icon-radio"></i> 仅退款</label><br>
										<label><input name="money" value="1" type="radio"><i class="iconfont icon-radio"></i> 退货退款</label>
									</div>
								</div>
							</div>
							<div class="form-group">

							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">退款金额：</label>
								<div class="col-sm-6">
									<div class="return_val cr">￥{% widthratio orders.number 1 orders.cid.price %}</div>
								</div>
							</div>
							<div class="form-group">
								<label for="cause" class="col-sm-2 control-label">退款原因：</label>
								<div class="col-sm-10">
									<select name="town" id="cause">
										<option value="0">请选择</option>
										<option value="质量问题">质量问题</option>
										<option value="发错货物">发错货物</option>
										<option value="七天无理由退换">七天无理由退换</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="note" class="col-sm-2 control-label">退款说明：</label>
								<div class="col-sm-6">
									<textarea class="form-control" id="note" rows="3" name="remark"></textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-3">
									<button type="submit" class="but">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
{% endblock %}