{% extends 'front/base.html' %}
{% block body %}
	<div class="bgf5 clearfix">
		<div class="top-user">
			<div class="inner">
				<a class="logo" href="{% url 'front:index' %}"><img src="/static/images/icons/logo.jpg" alt="U袋网" class="cover"></a>
				<div class="title">购物车</div>
			</div>
		</div>
	</div>
	<div class="content clearfix bgf5">
		<section class="user-center inner clearfix">
			<div class="user-content__box clearfix bgf">
				<div class="title">购物车</div>
				<form action="{% url 'front:shopcat' %}" class="shopcart-form__box" method="post">
                {% csrf_token %}
					<table class="table table-bordered">
						<thead>
							<tr>
								<th width="150">
									<label class="checked-label"><input type="checkbox" class="check-all"><i></i> 全选</label>
								</th>
								<th width="300">商品信息</th>
								<th width="150">单价</th>
								<th width="200">数量</th>
								<th width="200">现价</th>
								<th width="80">操作</th>
							</tr>
						</thead>
						<tbody>
                        {% for shop in user.shopcat_set.all %}
							<tr>
								<th scope="row">
									<label class="checked-label"><input type="checkbox" value="{{ shop.id }}-{{ forloop.counter0 }}" name="cid"><i></i>
										<div class="img"><img src="{{ shop.cid.clothingdetail.preview1 }}" alt="" class="cover"></div>
									</label>
								</th>
								<td>
									<div class="name ep3">{{ shop.cid.cname }}</div>
									<div class="type c9">尺码：均码</div>
								</td>
								<td>¥{{ shop.cid.price }}</td>
								<td>
									<div class="cart-num__box">
										<input type="button" class="sub" value="-">
										<input type="text" class="val" value="1" maxlength="2" name="number">
										<input type="button" class="add" value="+">
									</div>
								</td>
								<td>¥{{ shop.cid.price }}</td>
								<td><a href="{% url 'front:shopcat' %}?del={{ shop.id }}">删除</a></td>
							</tr>
                        {% endfor %}
						</tbody>
					</table>
					<div class="user-form-group tags-box shopcart-submit pull-right">
						<button type="submit" class="btn">提交订单</button>
					</div>
					<div class="checkbox shopcart-total">
						<label><input type="checkbox" class="check-all"><i></i> 全选</label>
						<div class="pull-right">
						</div>
					</div>
					<script>
						$(document).ready(function(){
							var $item_checkboxs = $('.shopcart-form__box tbody input[type="checkbox"]'),
								$check_all = $('.check-all');
							// 全选
							$check_all.on('change', function() {
								$check_all.prop('checked', $(this).prop('checked'));
								$item_checkboxs.prop('checked', $(this).prop('checked'));
							});
							// 点击选择
							$item_checkboxs.on('change', function() {
								var flag = true;
								$item_checkboxs.each(function() {
									if (!$(this).prop('checked')) { flag = false }
								});
								$check_all.prop('checked', flag);
							});
							// 个数限制输入数字
							$('input.val').onlyReg({reg: /[^0-9.]/g});
							// 加减个数
							$('.cart-num__box').on('click', '.sub,.add', function() {
								var value = parseInt($(this).siblings('.val').val());
								if ($(this).hasClass('add')) {
									$(this).siblings('.val').val(Math.min((value += 1),99));
								} else {
									$(this).siblings('.val').val(Math.max((value -= 1),1));
								}
							});
						});
					</script>
				</form>
			</div>
		</section>
	</div>
{% endblock %}