{% extends 'front/udai_order.html' %}
{% block right %}
			<div class="pull-right">
				<div class="user-content__box clearfix bgf">
					<div class="title">订单中心-确认收货</div>
					<div class="order-info__box">
						<div class="step-flow-box" style="width: 800px;margin: 0 auto 24px">
							<div class="step-flow__bd">
								<div class="step-flow__li step-flow__li_done">
									<div class="step-flow__state"><i class="iconfont icon-ok"></i></div>
									<p class="step-flow__title-top">拍下商品</p>
								</div>
								<div class="step-flow__line step-flow__li_done">
									<div class="step-flow__process"></div>
								</div>
								<div class="step-flow__li step-flow__li_done">
									<div class="step-flow__state"><i class="iconfont icon-ok"></i></div>
									<p class="step-flow__title-top">付款</p>
								</div>
								<div class="step-flow__line step-flow__li_done">
									<div class="step-flow__process"></div>
								</div>
								<div class="step-flow__li step-flow__li_done">
									<div class="step-flow__state"><i class="iconfont icon-ok"></i></div>
									<p class="step-flow__title-top">卖家发货</p>
								</div>
								<div class="step-flow__line step-flow__line_ing">
									<div class="step-flow__process"></div>
								</div>
								<div class="step-flow__li">
									<div class="step-flow__state"><i class="iconfont icon-ok"></i></div>
									<p class="step-flow__title-top">买家确认收货</p>
								</div>
							</div>
						</div>
						<div class="table-thead">
							<div class="tdf3">商品</div>
							<div class="tdf1">数量</div>
							<div class="tdf1">单价</div>
							<div class="tdf1">总价</div>
							<div class="tdf1">运费</div>
						</div>
						<div class="order-item__list">
							<div class="item">
								<div class="tdf3">
									<a href="item_show.html"><div class="img"><img src="{{ orders.cid.clothingdetail.preview1 }}" alt="" class="cover"></div>
									<div class="ep2 c6">{{ orders.cid.cname }}</div></a>
									<div class="attr ep">颜色：{{ orders.cid.color }} 尺码：{{ orders.cid.size }}</div>
								</div>
								<div class="tdf1">{{ orders.number }}</div>
								<div class="tdf1">¥{{ orders.cid.price }}</div>

								<div class="tdf1">¥{{ money }}</div>
								<div class="tdf1">
									<div class="ep2">快递<br>¥0.00</div>
								</div>
							</div>
						</div>
						<div class="price-total">
							<div class="fz18 c6">实付款：<b class="cr">¥{{ money }}</b></div>
							<div class="fz12 c9">（本单可获 <span class="c6">380</span> 积分）</div>
						</div>
						<hr>
						<div class="order-info">
							订单编号：<span class="c6">{{ orders.ordernumber }}</span><br>
							收货地址：<span class="c6">{{ orders.order_address }}&nbsp;{{ orders.shouname }}&nbsp;{{ orders.shouphone }}</span><br>
							成交时间：<span class="c6">{{ orders.payment_time }}</span>
						</div>
						<div class="modify_div clearfix">
							<form action="{% url 'front:shouhuo' orders.id %}" class="user-setting__form" role="form" method="post">
                                {% csrf_token %}
								<ul class="fz12 text-nowrap">
									<li class="cr">◆ 请收到货后，再确认收货！否则我们可能无法为您保障权益！</li>
								</ul>

								<div class="form-group" style="line-height: 1em">
									<div class="col-sm-offset-2 col-sm-10">
										<button type="submit" class="but">确认已收货</button>
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
{% endblock %}